<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'music/base.html' %}

</head>
<body>
{% block body %}
<div id="wholePage">

    <h1>{{ album.albumTitle }}</h1>
    <h3>{{ album.artist }}</h3>
    <img id="albumArt" src="{{ album.albumImage.url }}">

    {% if errorMessage %}
        <p>{{ errorMessage }}</p>
    {% endif %}

    <!-- Where to send album data to -->
    {% csrf_token %} <!--Security-->
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>

        <label for="song{{ forloop.counter }}">
            {{ song.songTitle }}
        </label><br>

    {% endfor %}

</div>
{% endblock %}
</body>
</html>