<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music</title>
    {% extends 'music/base.html' %}

</head>
<body>

{%  block body %}
<div id="wholePage">

<p>Albums</p>

{% if allAlbums %}
    <table>
        <tr>
            <th>Album ID</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Detail Page</th>
        </tr>
        {% for album in allAlbums %}
           <tr>
            <td>{{ album.id }}</td>
            <td>{{ album.albumTitle }}</td>
            <td>{{ album.artist }}</td>
            <td>{{ album.genre }}</td>
            <td><a href="{% url 'music:detail' album.id %}">Click for more details</a></td>
           <!--<a href="/music/{{ album.id }}/">Click for more details</a>-->
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No albums found!</p>
{% endif %}

</div>
{%  endblock %}
</body>
</html>