<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music</title>
    {% extends 'music/base.html' %}

</head>
<body>

{%  block body %}
<div id="wholePage">

<p>Albums</p>

{% if album_list %}
    <table>
        <tr>
            <th>Album ID</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Detail Page</th>
        </tr>
        {% for album in album_list %}
           <tr>
            <td>{{ album.id }}</td>
            <td>{{ album.albumTitle }}</td>
            <td>{{ album.artist }}</td>
            <td>{{ album.genre }}</td>
            <td><a href="{% url 'music:detail' album.id %}">Click for more details</a></td>

           <td>
             <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
             </form>
            </td>
           <td>
             <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
             </form>
            </td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No albums found!</p>
{% endif %}

</div>
{%  endblock %}

</body>
</html>