<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music</title>
    {% extends 'music/base.html' %}

</head>
<body>

{%  block body %}
<div id="wholePage">

{% if album_list %}
<table class="table">
    <!--Sets up headings-->
    <thead class="thead-dark">
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artist</th>
      <th scope="col">Genre</th>
      <th scope="col">Detail Page</th>
      {% comment %}<th scope="col">Edit</th>
      <th scope="col">Delete</th>{% endcomment %}
    </tr>
    </thead>

    {% for album in album_list %}
    <tbody>
    <tr>
        <td>{{ album.albumTitle }}</td>
        <td>{{ album.artist }}</td>
        <td>{{ album.genre }}</td>
        <td><a href="{% url 'music:detail' album.id %}">Click for more details</a></td>
        {% comment %}<td>
             <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
             </form>
            </td>
           <td>
             <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
             </form>
            </td>{% endcomment %}
        </tr>
    {% endfor %}
    </tbody>
</table>


{% else %}
    <p>No albums found!</p>
{% endif %}

</div>
{%  endblock %}

</body>
</html>