body {
    background: white url("images/subtlenet2_@2X.png");
}

@font-face {
    font-family: 'Aroly';
    src: url('ArolyFont/Font/AROLY.ttf') format("opentype");
}

div.container-fluid {
    background-color: darkslategrey;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Aroly', cursive;
    color: red;
}

p {
    font-family: 'Aroly', cursive;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

div#wholePage {
    margin: 16px;
}

th, td {
    text-align: center;
}

th {
    width: 150px;
}

#albumArt {
    float: left;
    margin-right: 10px;
}

div.inputForm {
    margin-left: 100px;
}